@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

$font-1: 'Roboto', sans-serif;

$color-1: rgb(116, 180, 111);
$color-visited: red;
$color-body: rgba(63, 59, 59, 0.37);

:root{
  font-size: 62.5%
}

*{
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
  font-family: $font-1;
  font-size: 2.2rem;
  background-color: $color-body;
}

a{
  text-decoration: none;
  color: $color-1;  
  &:visited{
    color:$color-visited;
  }
}

